// For light theme
@use '~@angular/material' as mat;
@include mat.define-light-theme((
    color: (
        primary: $myApp-primary,
        accent: $myApp-accent,
        warn: $myApp-warn,
      )
));

// For dark theme
@use '~@angular/material' as mat;
// @include mat.define-dark-theme($your-dark-primary, $your-dark-accent, $your-dark-warn);
