<mat-card>
  <mat-toolbar>
  <!-- <mat-toolbar [ngClass]="{'dark-theme': (isDarkMode$ | async)}"> -->
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>

    <button mat-mini-fab class="bg-black" [matMenuTriggerFor]="menu" #menuTrigger>
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="toggleMode()">
        <mat-icon>dark_mode</mat-icon>
        <span>Dark mode</span>
      </button>
      <button mat-menu-item (click)="toggleMode()">
        <mat-icon>light_mode</mat-icon>
        <span>Light mode</span>
      </button>
      <span>{{ (themeFacade.isDarkMode | async) ? 'Dark Mode' : 'Light Mode' }}</span>
      <button mat-menu-item>
        <mat-icon>translate</mat-icon>
        <span>
          <button mat-button>English</button>
          <button mat-button>Hindi</button>
        </span>
      </button>
      <button mat-menu-item>
        <mat-icon>login</mat-icon>
        <span>Login</span>
      </button>
    </mat-menu>
  </mat-toolbar>
</mat-card>